@import "./Constants.css";

.onPage {
  background-color: var(--normalBlue);
  border-radius: 8px;
  font-weight: bold;
}

.navbarItem {
  background-color: var(--darkblue);
  border-radius: 8px;
}

.navbarItem:hover {
  background-color: var(--lightBlue);
  border-radius: 8px;
}

.navbar {
  background-color: var(--darkBlue);
  height: 50px;
}

.mrlogo {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
}

.mrlogo:hover {
  opacity: 0.7;
}
